h1{
    justify-content: center;
    align-items: center;
    text-align: center;
     margin-top: 100px;
     /* color: white; */
     /* background-color:rgba(0, 0, 0, 0.2) ; */
     
}

.red-letter{
    color:red;
}

.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form_data{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1;
    width: 100%;
}

.form_div{
  background-color: rgba(0, 0, 0, 0.2); 
    /* background-color: transparent; */
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;           /* make it flex container */
    flex-direction: column;  /* stack children vertically */
    justify-content: center; /* center vertically */
    align-items: center; 
    margin-top: 50px;
 

    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    
    background-image: url('images/image4.jpg'); /* replace with your image path */
    background-size: cover;   
     background-repeat: no-repeat;
}


.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative; 
width: 100%;
border-radius: 50%;

   
}

.input-box input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 12px 14px 12px 35px;
    margin: 5px;
    border-radius: 5px;  
     border: none;
    /*outline: none;
    box-sizing: border-box; */
}

.form_title{
    margin-bottom: 20px;
    font-size: 20px;
    color:white
}


.email_image{
    height: 20px;
    width: 20px;
    position: absolute;
    left:10px
}

button{
    height: 20%;
    width: 20%;
}

.submit-button{
   height: 50px; 
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:transparent;
   border: 1px solid white;
   margin: 15px auto 0
}


.submit-image{
    height: 40px; 
    width: 40px;
    display: block;
}


.footer-class{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}